---
import LogoImg from '$/assets/logo.png';
---

<a
  href="/"
  class="text-xl font-bold text-foreground hover:opacity-80 transition-opacity"
>
  <img src={LogoImg.src} alt="Logo" class="h-8" />
</a>
